.part1
{
background-color: #4169e1
}

.part2
{
background-color: #ba55d3
}

.part3
{
background-color: #ff1493
}

.legend1
{
background-color: #4169e1
}
.legend2
{
background-color: #ba55d3
}
.legend3
{
background-color: #ff1493
}
